html {
  z-index: -1;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h1 {
  font-family: 'Dosis', sans-serif;
}

h2 {
  font-family: 'Dosis', sans-serif;

}

h3 {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 40px;
}
body {
  font-family: 'Dosis', sans-serif;
  font-size: 14px
}

#logo {
  font-size: 30px;
  position: relative;
  top: -45px;
  left: 14px;
  z-index: 1;
}

#tagline {
  font-size: 15px;
  position: absolute;
  left: 182px;
  top: -13px;
}

#header {
  position: absolute;
  left: -10px;
  top: -5px;
  width: 110%;
  height: 75px;
  background-color: #BE0C0C;
  z-index: 2;
}

#clock {
  position: absolute;
  
}
