html {
  background-color: #FAFAF6;
}

h1 {
  font-family: 'Dosis', sans-serif;
}

h2 {
  font-family: 'Dosis', sans-serif;

}

#logo {
  font-size: 50px;
  position: absolute;
  top: 0px;
}

#tagline {
  
}
