html {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: white;
}

h2 {
  font-family: 'Dosis', sans-serif;
  color: white;
}

h3 {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 40px;
}
body {
  font-family: 'Dosis', sans-serif;
  font-size: 14px
}

h3 {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 40px;
}
body {
  font-family: 'Dosis', sans-serif;
  font-size: 14px
}

#logo {
  font-size: 30px;
  position: relative;
  top: -45px;
  left: 17px;
}

#tagline {
  font-size: 15px;
  position: absolute;
  left: 188px;
  top: -12px;
}

#header {
  position: absolute;
  left: -10px;
  top: -5px;
  width: 110%;
  height: 75px;
  background-color: #BE0C0C;
}

.whoAval {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
  position: relative;
  top: 130px;
  margin: auto;
  width: 95%;
  padding: 10px;

 /*rounds box edges*/
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
  border-radius: 10px;

  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;

}

.friend {
  font-weight: normal;
  font-size: 20px;
  margin: 20px;
  margin-left: 45px;

  /*animates the section*/
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
   transition: all 1s;
}

.friend:hover {
  transform: scale(1.05);
}

#addFriend {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  color: black;
  position: relative;
  top: 145px;
  width: 300px;
  left: 527px;
  margin: auto;
  padding: 10px;

 /*rounds box edges*/
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
  border-radius: 10px;

  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;

  /*animates the section*/
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
   transition: all 1s;
}

#addFriend:hover {
  transform: scale(1.075);
}

.entry {
  position: absolute;
  top: 100px;
}

P {
text-align: center;
font-size: 18px;
}
